*.cmake
*.dSYM
*.log
*.o
*.s
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
man/*.html
man/Makefile.in
missing
src/*.o
src/.deps
src/Makefile.in
src/msgpack-autosplit
stamp-*
testing
